.productsPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.productList {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #ffffff;
}

.footer {
  height: 70px;
}
