.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  text-align: center;
}

.missing404-image {
  height: 20rem;
}
